/* estilos del header */

header {
    nav {
        padding: 0%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1.6em;
        list-style-type: none;

        .container-fluid {
            background-color: rgb(8, 8, 8);
            padding: 0;
            height: auto;
            padding-right: 1.9em;
        }

        .conteiner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logo {
            margin: 0;
            padding: 1.6em 1.9em;
            font-weight: bold;
            color: $color1;
            font-size: 1.6em;
            align-items: start;

        }

        .navbar-toggler {
            background-color: rgb(245, 245, 245);
            padding: 2px 4px;

        }

        .nav-link {
            padding: 0.25em 1.2em;
            text-decoration: none;
            font-weight: bold;
            color: rgb(218, 216, 216);
            margin: 1em;
        }

        .nav-link:hover {
            color: $color1;
        }

        .color-acento {
            color: $color1;
        }
    }
}




    /* Estilos de header para escritorio */


@media (min-width: 1024px) {

    .container-fluid {
        background-color: rgb(8, 8, 8);
        padding: 0;
        height: 30vh;
    }

    #navbarSupportedContent {
        padding-left: 45%;
    }
}